extends layout

block content
  nav(class="navbar navbar-inverse index-navbar" role="navigation")
    div(class="container-fluid")
      a(class="navbar-brand" href="#") RideShare
  div(class='app-overview') 
    div(class='main-app-text')
      | Go Places
      br
      | Make friends
