doctype html
html
  head
    title= title
    // CSS file for project
    link(rel='stylesheet', href='/stylesheets/style.css')

    // Bootstrap, Google - Font
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css")
    link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Tangerine')
  body
    block content
    // scroll-it.js
    script(src="/routes/scroll-it.js")

    // JQuery, JQuery-UI, Bootstrap
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    script(src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/jquery-ui.min.js")